<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unimib.bicap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_rectangular_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconabianca"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.somministratore.LaunchScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".service.ExoPlayerStream"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            />
        <activity android:name=".activity.HomePage"
            />
        <activity android:name=".activity.utente.Intermediate"
            />
        <activity
            android:name=".activity.somministratore.LoginProfessore"
            android:parentActivityName=".activity.HomePage"
            />
        <activity android:name=".activity.utente.Survey"
            />
        <activity
            android:name=".activity.somministratore.CreazioneProgetto"
            android:parentActivityName=".activity.HomePageSomministratore"
            />
        <activity
            android:name=".activity.somministratore.DettaglioQuestionario"
            android:parentActivityName=".activity.somministratore.CreazioneProgetto"
            />
        <activity
            android:name=".activity.utente.ListaProgetti"
            android:parentActivityName=".activity.HomePage"
            />
        <activity
            android:name=".activity.somministratore.EliminaProgetti"
            android:parentActivityName=".activity.HomePageSomministratore"
            />
        <activity
            android:name=".activity.HomePageSomministratore"
            android:parentActivityName=".activity.somministratore.LoginProfessore"
            />
        <activity android:name=".activity.utente.PresentazioneProgetto"
            />
        <activity android:name=".activity.somministratore.CongratulazioniScreen"
            />
        <activity android:name=".service.PDFViewer"
            />
        <activity android:name=".activity.somministratore.CreazioneSomministratore"
            />
        <activity android:name=".activity.somministratore.GestioneSomministratore"
            />
        <activity android:name=".activity.somministratore.EliminaSomministratore"
            />
        <activity android:name=".activity.utente.GrazieScreen"
            />
        <activity android:name=".activity.somministratore.RecuperaPassword"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mypackage.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider> -->
    </application>

</manifest>